<html>
<head>
<title>{{productname}}</title>
<style type="text/css">
body {
	font-family: "Courier New", Courier, monospace;
	font-size: 16px;
	line-height: 16px;
	letter-spacing: -4;
	background-color: black;
	color: green;

}

pre {
	display: block;
	margin: 100px auto;
	width: 250px;
}

</style>
</head>
<body>
<marquee><h1>{{productname}} - Page not found</h1></marquee>
<pre>
<h2>
If this were a website <br>
I would have written a nice 404 page <br>
But this isnt. <br>
And neither are you supposed to be here. <br>
You are here means <br>
Either you are a curious child <br>
Or a scanning bot. <br>
So how about a..... <br>
</h2>
</pre>
<pre><h3>
....................../´¯/) 
....................,/¯../ 
.................../..../ 
............./´¯/'...'/´¯¯`·¸ 
........../'/.../..../......./¨¯\ 
........('(...´...´.... ¯~/'...') 
.........\.................'...../ 
..........''...\.......... _.·´ 
............\..............( 
..............\.............\...
</h3></pre>

</body>
</html>
